.root {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 25px;



   .text {
      color: #828FA3;
      text-align: center;
   }
}